<div class="d-flex <%= message.user == user ? 'justify-content-end' : 'justify-content-start' %> mb-2">
  <div class="message <%= message.user == user ? 'sent-message' : 'received-message' %> p-2 rounded">
    <small class="message-info d-block mb-1" style="
    font-size: 14px;">
      <strong><%= message.user.first_name %></strong>
      <i><%= l(message.created_at, format: :short) %></i>
    </small>
    <p class="message-content m-0"   style="font-size: 16px;"><%= message.content %></p>
  </div>
</div>
