<div
    id="message-<%= message.id %>"
    class="message <%= message.user === user ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-id-value="<%= message.user.id %>">
  <small class="message-info">
    <strong><%= message.user.first_name %></strong>
    <i><%= l(message.created_at, format: :short) %></i>
  </small>
  <p class="message-content"><%= message.content %></p>
</div>
