<div class="pt-2 pb-3 d-flex gap-2 justify-content-between align-items-left flex-column separator">

  <div class="d-flex align-items-left flex-column gap-3">
    <div class="flex-grow-1 d-flex align-items-center">
      <%= image_tag "gavel.png", width: 30, height: 30, class: "me-2" %>
      <%= link_to decision_path(decision), class: "text-decoration-none" do %>
      <p class="mb-0 me-2"><%= decision.title %></p>
      <% end %>
    </div>
    <% if decision.pending? %>
      <%= link_to "Ouvrir le vote", open_decision_path(decision),
        class: "show-btn fs-6 d-none",
        data: {
          turbo_method: :patch,
          meeting_target: "adminBtn"
        } %>
    <% elsif decision.opened? %>
      <%= link_to "Clôturer le vote", close_decision_path(decision),
        class: "show-btn fs-5 d-none",
        data: {
          turbo_method: :patch,
          meeting_target: "adminBtn"
          } %>
    <% end %>
  </div>

  <% if decision.closed? %>
    <%= render "decisions/result", decision: decision %>
  <% end %>
</div>
