<div class="container mt-5 d-flex justify-content-center">
  <div class = "card border-0 rounded shadow-lg p-4" style="max-width: 700px; width: 100%;">

  <h2 class="text-center" style = "color: #595959;">Créer une réunion</h2>
    <%= simple_form_for [@meeting] do |f| %>
      <div class="form-group mb-3">
        <%= f.input :title, label: "Titre" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :description, label: "Description" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :link, label: "Lien" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :date, label: "Date" %>
      </div>
      <div class="d-flex justify-content">
        <%= f.submit "Submit", class: "button-card" %>
      </div>
    <% end %>
  </div>
</div>
