<div class="container document-container">
  <div class="document-card">
   <div class="document-body">
    <p><strong>Titre :</strong> <%= @decision.title %></p>
    <p><strong>Description :</strong> <%= @decision.description %></p>
    <p><strong>Statut :</strong> <%= @decision.status %></p>

    <p><%= link_to "Ajouter un document", new_decision_document_path(@decision), class:"secondary-btn "%></p>
    <p><%= link_to 'Modifier', edit_decision_path(@decision), class:"secondary-btn "%></p>
    <p><%= link_to 'Retour au meeting', meeting_path(@decision.meeting), class:"primary-btn " %></p>
  </div>

      <% if @decision.documents.any? %>
        <% @decision.documents.each do |document| %>
         <div class = "document-body">
          <%= cl_image_tag document.file.key, class:"d-block w-100" %>
        </div>
        <% end %>
      <% end %>
  </div>
  </div>
