<div class="container-fluid" style="padding: 0;">
<div class="container mt-5 d-flex justify-content-center">
  <div class="card border-0 rounded shadow-lg p-4" style="max-width: 700px; width: 100%;">
    <h1>Décisions</h1>
    <p><strong>Description:</strong> <%= @decision.description %></p>
    <p><strong>Statut:</strong> <%= @decision.status %></p>

    <p><%= link_to "Ajouter un document", new_decision_document_path(@decision), class:"button-card"%></p>
    <p><%= link_to 'Modifier', edit_decision_path(@decision) %></p>
    <p><%= link_to 'Retour au meeting', meeting_path(@decision.meeting) %></p>
  </div>

      <% if @decision.documents.any? %>
        <% @decision.documents.each do |document| %>
         <div class = "card border-0 rounded shadow-lg p-4" style="max-width: 300px;">
          <%= cl_image_tag document.file.key, class:"d-block w-100" %>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
