<div class="container chat card border-0 rounded shadow-lg p-4" style="max-width: 700px; width: 100%; background-color: #f1ece6;">

  <%= turbo_stream_from "chatroom_#{@chatroom.id}_messages" %>
  <div id="messages" class="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
  html: {class: "d-flex",
         data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Envoyer", :class => "primary-btn" %>
  <% end %>
</div>
