<div class="container chat">
  <% if !@chatroom.name.blank? %>
    <h1><%= @chatroom.name %></h1>
  <% else %>
    <h1>Zenmate <%= @other_user.first_name %></h1>
  <% end %>

  <%= turbo_stream_from "chatroom_#{@chatroom.id}_messages" %>
  <div id="messages" class="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
  html: {class: "d-flex",
         data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>

    <%= f.input :content,
      label: false,
      placeholder: "Message #{@other_user.first_name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3", style: "border-radius 25%;" %>
  <% end %>
</div>
