<div class="container">
  <h4><strong>Mes prochaines réunions :</strong></h4>
  <br>
  <div class="row meeting-cards">
    <% @meetings.each do |meeting| %>
      <div class="col-9 col-sm-12 col-md-12">
        <div class="meeting-card">
          <div class="meeting-card-header flex-row justify-content-around align-items-center">
            <p><%= meeting.date %></p>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa-regular fa-clock me-2"></i>
              <p>18h</p>
            </div>
          </div>
          <%= link_to meeting_path(meeting) do %>
            <div class="p-3 meeting-card-body";>
              <p class="card-title"><%= meeting.title %></p>
              <p style="font-size: 14px;" class="card-text"><em><%= meeting.description %></em></p>
            </div>
          <% end %>
          <div class ="card-text-icone ps-2">
            <button type="button" class="modal-btn p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-plus" style="font-size: 12px;"></i> <span style="font-size: 12px;">Ajouter des décisions</span>
            </button>
            <br>
            <%= link_to meeting_documents_path(meeting) do %>
              <i class="fa-regular fa-eye" style="font-size: 12px;"></i> <span style="font-size: 12px;"> Accéder aux documents</span>
            <% end %>
          </div>
        </div>

        <%= render "decisions/form", meeting: meeting, decision: @decision %>
      </div>
    <% end %>
  </div>
  <br>
  <h4><strong>Mes notifications :</strong></h4>
  <br>
  <div>
 <div class="document-affichage" style="margin-bottom:10px;">
    <div class="document-icon">
    <i class="fa-regular fa-bell"></i>
    </div>
    <div class="document-name">
      <p>AG à 18H</p>
    </div>
    </div>
     <div class="document-affichage" style="margin-bottom:10px;">
    <div class="document-icon">
    <i class="fa-regular fa-bell"></i>
    </div>
    <div class="document-name">
      <p>Marianne a publié sur copro 50</p>
    </div>
    </div>
     <div class="document-affichage" style="margin-bottom:10px;">
    <div class="document-icon">
    <i class="fa-regular fa-bell"></i>
    </div>
    <div class="document-name">
      <p>Fête des voisins le 30/04</p>
    </div>
    </div>
    </div>
  </div>
