<div id="new-document">
  <div class="container document-container">
    <div class="document-card">
      <div class="document-body">
        <%= simple_form_for([@documentable, @document]) do |f| %>
          <div class="form-group mb-3">
            <%= f.input :name, label: "Nom" %>
          </div>

          <div class="form-group mb-3">
            <%= f.input :tag, label: "Tag" %>
          </div>

          <div class="form-group mb-3">
            <%= f.input :file, as: :file, label: "Document" %>
          </div>
          <div class="document-submit-container">
            <%= f.submit "Submit", class: "secondary-btn secondary-btn:hover" %>
          </div>
        <% end %>
      </div>
      </div>
  </div>
</div>
